doctype html
html.html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./css/main.min.css")
    title Repair Design Project
  body.page
    header.header
      .container.header__container
        a(href="#" aria-label="Link to home page").header__logo IC "Repair Design Project"
        nav.nav.header__nav
          ul.nav__list
            li.nav__item
              a(href="#" aria-label="Link to home").nav__link home
            li.nav__item
              a(href="#" aria-label="Link to projects").nav__link projects
            li.nav__item
              a(href="#" aria-label="Link to measurment").nav__link measurement
            li.nav__item
              a(href="#" aria-label="Link to team").nav__link team
            li.nav__item
              a(href="#" aria-label="Link to reviews").nav__link reviews
            li.nav__item
              a(href="#" aria-label="Link to contacts").nav__link contacts
        a(href="tel:+79287683239" aria-label="to call").header__call +7 (928) 768-32-39
        button(aria-label="Button to request a call").cta.header__cta request a call
    main.main
      section.offer
        .container.offer__container
          .offer__inner-wrap
            h1.offer__title Turnkey Repair in the city of&nbsp;
              span Rostov-on-Don
            p.offer__subtitle Get ready-made turnkey repairs on time with work time saving up to 45 days and 20% from cost of materials due to the organization of work
            .offer__buttons-wrap
              button.btn-cta.offer__button.offer__button-cta calculate the cost
              button.offer__button.offer__button-additional submit your application
      section.projects
        .container.projects__container
          .projects__tab-wrap
            button.projects__tab(data-tab-index="0") rostov-on-don, admiral
            button.projects__tab(data-tab-index="1") sochi thieves
            button.projects__tab(data-tab-index="2") rostov-on-don, patriotic
          header.projects__header
            h2.projects__title completed projects
            p.projects__subtitle Only a small part of the work performed by our company is presented on the site. For 14 years on in the construction market we have made happy more than 1000 families
          .slider.projects__slider(data-slider)
            .slider__track(data-slider-track style="transform: translateX(0)")
              img(src="@img/projects/project-1.jpg" alt="Photo completed apartment").slider__image
              img(src="@img/projects/project-2.jpg" alt="Photo completed apartment").slider__image
              img(src="@img/projects/project-3.jpg" alt="Photo completed apartment").slider__image
            .slider__arrow-wrap.projects__slider-arrow-wrap
              button.slider__arrow(data-slider-arrow-mobile-prev)
                svg.arrow-svg.arrow-svg--left
                  use(xlink:href="@img/icons/icons.svg#slider-arrow")
              button.slider__arrow(data-slider-arrow-mobile-next)
                svg.arrow-svg
                  use(xlink:href="@img/icons/icons.svg#slider-arrow")
          .projects__info
            .projects__info-item
              h3.projects__info-title city:
              p(data-city).projects__info-data.projects__info-city
              p(data-region).projects__info-data
            .projects__info-item
              h3.projects__info-title apartment area:
              p(data-apartment-area).projects__info-data
            .projects__info-item
              h3.projects__info-title repair time:
              p(data-repair-time).projects__info-data
            .projects__info-item
              h3.projects__info-title repair cost:
              p(data-repair-cost).projects__info-data
          .projects__pagination
            button.projects__pagination-arrow-btn(data-slider-arrow-desktop-prev)
              svg.projects__pagination-arrow-svg
                use(xlink:href="@img/icons/icons.svg#pagination-arrow")
            .projects__pagination-dot-wrap
              button.projects__pagination-dot(data-dot-index="0")
              button.projects__pagination-dot(data-dot-index="1")
              button.projects__pagination-dot(data-dot-index="2")
            button.projects__pagination-arrow-btn.projects__pagination-arrow-btn--next(data-slider-arrow-desktop-next)
              svg.projects__pagination-arrow-svg
                use(xlink:href="@img/icons/icons.svg#pagination-arrow")
      section.online-control
        .container
          .title.online-control__title
            h2.title__text  online control
            .title__icon-wrap
              svg.title__icon
                use(xlink:href="@img/icons/icons.svg#cam")
          .online-control__video
            img.online-control__video-preview(src="@img/online-control/video.jpg" alt="man build apartment")
            button.online-control__video-play-bth
              svg.online-control__video-play-svg
                use(xlink:href="@img/icons/icons.svg#play")
          p.online-control__description At each facility, a camera is installed that broadcasts the progress of work on the clock. At any time, you can go to our website and monitor the progress of work in your apartment. You can watch the live broadcast from one of our facilities! Leave a request below and you will receive a link to the broadcast.
          form(action="#").page-form.online-control__form
            label.page-form__label.online-control__form-label Name
              input(type="text" placeholder="What is your name:" name="username").page-form__input.online-control__form-input
            label.page-form__label.online-control__form-label Number
              input(type="tel" placeholder="Your phone number:" name="phone").page-form__input.online-control__form-input
            .page-form__checkbox-wrap.online-control__form-checkbox-wrap
              input(type="checkbox" name="agree-checkbox" checked="true").page-form__checkbox#agree-checkbox.online-control__form-checkbox
              label(for="agree-checkbox").page-form__checkbox-label I agree to the processing of personal data
            input(type="button" value="submit").btn-cta.page-form__submit-button
      section.repair-types
        .container
          .title.repair-types__title
            h2.title__text  types of repair
            .title__icon-wrap
              svg.title__icon
                use(xlink:href="@img/icons/icons.svg#repair")
          .repair-types__cards-wrap
            .repair-types__card
              .repair-types__card-img-wrap
                img(src="@img/repair-types/type-1.jpg" alt="Apartment`s photo").repair-types__card-img
              .repair-types__card-data-wrap
                h3.repair-types__card-title Redecorating
                ul.repair-types__card-list
                  li.repair-types__card-list-item Dismantling of old coatings
                  li.repair-types__card-list-item Wallpapering
                  li.repair-types__card-list-item Painting walls and ceilings
                  li.repair-types__card-list-item Laying flooring
                  li.repair-types__card-list-item Replacing plumbing
                  li.repair-types__card-list-item Replacing sockets and switches
                  li.repair-types__card-list-item Replacing doors
                button.btc-cta.repair-types__btn-cta from 900 rub / m2
            .repair-types__card
              .repair-types__card-img-wrap
                img(src="@img/repair-types/type-2.jpg" alt="Apartment`s photo").repair-types__card-img
              .repair-types__card-data-wrap
                h3.repair-types__card-title Overhaul
                ul.repair-types__card-list
                  li.repair-types__card-list-item Dismantling of old coatings
                  li.repair-types__card-list-item Wallpapering
                  li.repair-types__card-list-item Painting walls and ceilings
                  li.repair-types__card-list-item Laying flooring
                  li.repair-types__card-list-item Replacing plumbing
                  li.repair-types__card-list-item Replacing sockets and switches
                  li.repair-types__card-list-item Replacing doors
                button.btc-cta.repair-types__btn-cta from 1800 rub / m2
            .repair-types__card
              .repair-types__card-img-wrap
                img(src="@img/repair-types/type-3.jpg" alt="Apartment`s photo").repair-types__card-img
              .repair-types__card-data-wrap
                h3.repair-types__card-title Dedigner Repair
                ul.repair-types__card-list
                  li.repair-types__card-list-item Dismantling of old coatings
                  li.repair-types__card-list-item Wallpapering
                  li.repair-types__card-list-item Painting walls and ceilings
                  li.repair-types__card-list-item Laying flooring
                  li.repair-types__card-list-item Replacing plumbing
                  li.repair-types__card-list-item Replacing sockets and switches
                  li.repair-types__card-list-item Replacing doors
                button.btc-cta.repair-types__btn-cta from 4000 rub / m2
      section.benefits
        .container.benefits__container
          .benefits__list-wrap
            ul.benefits__list
              li.benefits__list-item Our specialist will arrive for measurements per day contact, or appoint a date convenient for you
              li.benefits__list-item Free metering
              li.benefits__list-item Free consultation
              li.benefits__list-item Get a cost estimate and the timing of your future repairs
          .benefits__form-wrap
            form(action="#").page-form.benefits__form
              h3.benefits__form-title Leave a request for free departure of the measurer
              label.page-form__label Name
                input(type="text" placeholder="What is your name:" name="username").page-form__input.benefits__form-input
              label.page-form__label Number
                input(type="tel" placeholder="Your phone number:" name="phone").page-form__input.benefits__form-input
              label.page-form__label Email
                input(type="email" placeholder="Your email:" name="email").page-form__input.benefits__form-input
              .page-form__checkbox-wrap
                input(type="checkbox" name="agree-checkbox" checked="true").page-form__checkbox#benefits-agree-checkbox
                label(for="benefits-agree-checkbox").page-form__checkbox-label.benefits__form-checkbox-label I agree to the processing of personal data
              input(type="button" value="Call the measurer").btn-cta.page-form__submit-button.benefits__form-submit-button
            .benefits__discount
              .benefits__discount-icon-wrap
                svg.benefits__discount-icon
                  use(xlink:href="@img/icons/icons.svg#pig")
              p.benefits__discount-text Help save 10 - 20% of the cost of materials
      section.fantasies
        .container.fantasies__container
          .fantasies__types
            h2.fantasies__title we realize your wildest fantasies
            ul.fantasies__list
              li.fantasies__item
                button.fantasies__button.fantasies__button--active American classic
              li.fantasies__item
                button.fantasies__button Empire
              li.fantasies__item
                button.fantasies__button Classical
              li.fantasies__item
                button.fantasies__button Loft
              li.fantasies__item
                button.fantasies__button Minimalism
              li.fantasies__item
                button.fantasies__button Provence
              li.fantasies__item
                button.fantasies__button Romanticism
              li.fantasies__item
                button.fantasies__button Scandinavian style
              li.fantasies__item
                button.fantasies__button Mediterranean style
              li.fantasies__item
                button.fantasies__button High tech
              li.fantasies__item
                button.fantasies__button Eclecticism
          .slider.fantasies__slider
            .slider__track
              img(src="@img/fantasies/slider-1.jpg" alt="Photo completed apartment").slider__image
            .slider__arrow-wrap
              button.slider__arrow
                svg.arrow-svg.arrow-svg--left
                  use(xlink:href="@img/icons/icons.svg#slider-arrow")
              button.slider__arrow
                svg.arrow-svg
                  use(xlink:href="@img/icons/icons.svg#slider-arrow")
          .fantasies__gallery
            .fantasies__gallery-module
              img(src="@img/fantasies/fantasies-gallery-1.jpg" alt="Apartmets photo").fantasies__gallery-photo
              img(src="@img/fantasies/fantasies-gallery-2.jpg" alt="Apartmets photo").fantasies__gallery-photo
            .fantasies__gallery-module
              img(src="@img/fantasies/fantasies-gallery-3.jpg" alt="Apartmets photo").fantasies__gallery-photo
              img(src="@img/fantasies/fantasies-gallery-4.jpg" alt="Apartmets photo").fantasies__gallery-photo
      section.clients
        .container
          .title.clients__title
            h2.title__text  our clients
            .title__icon-wrap
              svg.title__icon
                use(xlink:href="@img/icons/icons.svg#clients")
          p.clients__description 80% of our customers recommend us to their friends and family.
          .clients__card-wrap
            .clients__card
              .clients__card-bio
                .clients__card-photo
                  img(src="@img/clients/client-1.jpg" alt="Client photo")
                .clients__card-name Fedosova Maria<br> Konstantinovna
              .clients__card-review
                p I want to thank the guys for their work. We put your shower part in repair. I am very rateful that I referred to the repair as to my own. Great thanks I express the project to Georgia for its professionalism and approach.
                p The repair process was turned out in terms, faster than anticipated. Team mobile and professional. Works performed qualitatively without comments. Quality satisfied. Prices democratic. I recommend these masters.
              .clients__card-data
                .clients__card-data-size
                  svg
                    use(xlink:href="@img/icons/icons.svg#sizes")
                  p 40 m2
                .clients__card-data-time
                  svg
                    use(xlink:href="@img/icons/icons.svg#calendar")
                  p 48 days
            .clients__card
              .clients__card-bio
                .clients__card-photo
                  img(src="@img/clients/client-2.jpg" alt="Client photo")
                .clients__card-name Afanasyev Sergey<br> Alexandrovich
              .clients__card-review
                p I want to thank the guys for their work. We put your shower part in repair. I am very rateful that I referred to the repair as to my own. Great thanks I express the project to Georgia for its professionalism and approach.
                p The repair process was turned out in terms, faster than anticipated. Team mobile and professional. Works performed qualitatively without comments. Quality satisfied. Prices democratic. I recommend these masters.
              .clients__card-data
                .clients__card-data-size
                  svg
                    use(xlink:href="@img/icons/icons.svg#sizes")
                  p 90 m2
                .clients__card-data-time
                  svg
                    use(xlink:href="@img/icons/icons.svg#calendar")
                  p 128 days
            .clients__card
              .clients__card-bio
                .clients__card-photo
                  img(src="@img/clients/client-3.jpg" alt="Client photo")
                .clients__card-name Kiriev Egor<br> Leonidovich
              .clients__card-review
                p I want to thank the guys for their work. We put your shower part in repair. I am very rateful that I referred to the repair as to my own. Great thanks I express the project to Georgia for its professionalism and approach.
                p The repair process was turned out in terms, faster than anticipated. Team mobile and professional. Works performed qualitatively without comments. Quality satisfied. Prices democratic. I recommend these masters.
              .clients__card-data
                .clients__card-data-size
                  svg
                    use(xlink:href="@img/icons/icons.svg#sizes")
                  p 56 m2
                .clients__card-data-time
                  svg
                    use(xlink:href="@img/icons/icons.svg#calendar")
                  p 86 days
      section.questions
        .container
          form(action="#").page-form.questions__form
            h2.questions__title have any questions?
            .questions__form-inner
              label.page-form__label.questions__form-label Name
                input(type="text" placeholder="What is your name:" name="username").page-form__input.questions__form-input
              label.page-form__label.questions__form-label Phone
                input(type="tel" placeholder="Your phone number:" name="phone").page-form__input.questions__form-input
              label.page-form__label.questions__form-label Question
                input(type="text" placeholder="I want to know:" name="question").page-form__input.questions__form-input
            .page-form__checkbox-wrap.questions__form-checkbox-wrap
              input(type="checkbox" name="agree-checkbox" checked="true").page-form__checkbox#questions-agree-checkbox
              label(for="questions-agree-checkbox").page-form__checkbox-label.questions__form-checkbox-label I agree to the processing of personal data
            input(type="button" value="submit").btn-cta.page-form__submit-button.questions__form-submit-button
      section.contacts
        .container.contacts__container
          .contacts__data
            p.contacts__data-text Rostov-on-Don, Nansen St., 239 Shopping Center Decorum Tel +7 (928) 768 32 29
            .contacts__data-buttons-wrap
              button(aria-label="mail").contacts__data-button
                svg.contacts__data-icon
                  use(xlink:href="@img/icons/icons.svg#mail")
              button(aria-label="instagram").contacts__data-button
                svg.contacts__data-icon
                  use(xlink:href="@img/icons/icons.svg#instagram")
          <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Acc2a08eb688746a1bc64db778eb06eee54d3aeda54e3855c9396884ff9f863ac&amp;source=constructor" frameborder="0" class="contacts__map"></iframe>
    footer.header.footer
      .container.header__container
        a(href="#" aria-label="Link to home page").header__logo IC "Repair Design Project"
        nav.nav.header__nav
          ul.nav__list
            li.nav__item
              a(href="#" aria-label="Link to home").nav__link home
            li.nav__item
              a(href="#" aria-label="Link to projects").nav__link projects
            li.nav__item
              a(href="#" aria-label="Link to measurment").nav__link measurement
            li.nav__item
              a(href="#" aria-label="Link to team").nav__link team
            li.nav__item
              a(href="#" aria-label="Link to reviews").nav__link reviews
            li.nav__item
              a(href="#" aria-label="Link to contacts").nav__link contacts
        a(href="tel:+79287683239" aria-label="to call").header__call +7 (928) 768-32-39
        button(aria-label="Button to request a call").cta.header__cta request a call
    script(src="./js/app.min.js")
