doctype html
html.html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./css/main.min.css")
    title Repair Design Project
  body.page
    header.header
      .container.header__container
        a(href="#" aria-label="Link to home page").header__logo IC "Repair Design Project"
        nav.nav.header__nav
          ul.nav__list
            li.nav__item
              a(href="#" aria-label="Link to home").nav__link home
            li.nav__item
              a(href="#" aria-label="Link to projects").nav__link projects
            li.nav__item
              a(href="#" aria-label="Link to measurment").nav__link measurement
            li.nav__item
              a(href="#" aria-label="Link to team").nav__link team
            li.nav__item
              a(href="#" aria-label="Link to reviews").nav__link reviews
            li.nav__item
              a(href="#" aria-label="Link to contacts").nav__link contacts
        a(href="tel:+79287683239" aria-label="to call").header__call +7 (928) 768-32-39
        button(aria-label="Button to request a call").cta.header__cta request a call
    main.main
      section.offer
        .container.offer__container
          .offer__inner-wrap
            h1.offer__title Turnkey Repair in the city of&nbsp;
              span Rostov-on-Don
            p.offer__subtitle Get ready-made turnkey repairs on time with work time saving up to 45 days and 20% from cost of materials due to the organization of work
            .offer__buttons-wrap
              button.offer__button.offer__button-cta calculate the cost
              button.offer__button.offer__button-additional submit your application
      section.projects
        .container.projects__container
          .projects__tab-wrap
            button.projects__tab.projects__tab--active rostov-on-don, admiral
            button.projects__tab sochi thieves
            button.projects__tab rostov-on-don, patriotic
          header.projects__header
            h2.projects__title completed
              br
              | projects
            p.projects__subtitle Only a small part of the work performed by our company is presented on the site. For 14 years on in the construction market we have made happy more than 1000 families
          .slider.projects__slider
            .slider__track
              img(src="@img/projects/project-1.jpg" alt="Photo completed apartment").slider__image
              img(src="@img/projects/project-2.jpg" alt="Photo completed apartment").slider__image
            .slider__arrow-wrap
              button.slider__arrow
                svg.arrow-svg.arrow-svg--left
                  use(xlink:href="@img/icons/icons.svg#slider-arrow")
              button.slider__arrow
                svg.arrow-svg
                  use(xlink:href="@img/icons/icons.svg#slider-arrow")
          .projects__info
            .projects__info-item
              h3.projects__info-title city:
              p.projects__info-data Rostov-on-Don
                br
              | LCD admiral
            .projects__info-item
              h3.projects__info-title apartment area:
              p.projects__info-data 81 m2
            .projects__info-item
              h3.projects__info-title repair time:
              p.projects__info-data 3.5 months
            .projects__info-item
              h3.projects__info-title repair cost:
              p.projects__info-data Upon request
          .projects__pagination
            button.projects__pagination-arrow-btn
              svg.projects__pagination-arrow-svg
                use(xlink:href="@img/icons/icons.svg#pagination-arrow")
            .projects__pagination-dot-wrap
              button.projects__pagination-dot.projects__pagination-dot--active
              button.projects__pagination-dot
              button.projects__pagination-dot
            button.projects__pagination-arrow-btn.projects__pagination-arrow-btn--next
              svg.projects__pagination-arrow-svg
                use(xlink:href="@img/icons/icons.svg#pagination-arrow")
    script(src="./js/app.min.js")
