doctype html
html.html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./css/main.min.css")
    title Repair Design Project
  body.page
    header.header
      .container.header__container
        a(href="#" aria-label="Link to home page").header__logo IC "Repair Design Project"
        nav.nav.header__nav
          ul.nav__list
            li.nav__item
              a(href="#" aria-label="Link to home").nav__link home
            li.nav__item
              a(href="#" aria-label="Link to projects").nav__link projects
            li.nav__item
              a(href="#" aria-label="Link to measurment").nav__link measurement
            li.nav__item
              a(href="#" aria-label="Link to team").nav__link team
            li.nav__item
              a(href="#" aria-label="Link to reviews").nav__link reviews
            li.nav__item
              a(href="#" aria-label="Link to contacts").nav__link contacts
        a(href="tel:+79287683239" aria-label="to call").header__call +7 (928) 768-32-39
        button(aria-label="Button to request a call").cta.header__cta request a call
    main.main
      section.offer
        .container.offer__container
          .offer__inner-wrap
            h1.offer__title Turnkey Repair in the city of&nbsp;
              span Rostov-on-Don
            p.offer__subtitle Get ready-made turnkey repairs on time with work time saving up to 45 days and 20% from cost of materials due to the organization of work
            .offer__buttons-wrap
              button.offer__button.offer__button-cta calculate the cost
              button.offer__button.offer__button-additional submit your application
    script(src="./js/app.min.js")
