a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  height: auto;
  max-width: 100%;
}

.container {
  padding: 0 re-c(18);

  @include media-desktop {
    margin: 0 auto;
    padding: 0;
    max-width: re-c(1180);
  }
}

.btn-cta {
  background-color: var(--color-accent);

  &:hover {
    box-shadow: 0 5px 15px rgb(227 184 115 / 20%);
    transition: box-shadow 0.5s;
  }
}

.main {
  padding-top: re-c(57);

  @include media-tablet {
    padding-top: re-c(77);
  }
}
