.page {
  font: 400 re-c(16) var(--font-nunito);
  line-height: 1;
  color: var(--color-white);
}

// header
.header {
  font-size: re-c(11);

  &__logo {
    text-transform: uppercase;
    color: var(--color-accent);
  }

  &__nav {
    text-transform: uppercase;
  }

  &__call {
    @include media-tablet {
      text-decoration: underline;
      color: var(--color-accent);
    }
  }

  &__cta {
    font-style: italic;
    line-height: 1;
    text-transform: uppercase;
    color: var(--color-white);
  }
}

// offer
.offer {
  &__title {
    font: 400 clamp(re-c(23), 5vw, re-c(40)) var(--font-yeseva);
    line-height: 133%;
    text-transform: uppercase;

    > span {
      color: var(--color-accent);
    }
  }

  &__subtitle {
    font: 400 clamp(re-c(14), 3vw, re-c(22)) var(--font-nunito);
  }

  &__button-cta,
  &__button-additional {
    font: italic 400 re-c(11) var(--font-nunito);
    text-transform: uppercase;
    color: var(--color-white);
  }
}
