.page {
  font: 400 re-c(16) var(--font-nunito);
  line-height: 1;
  color: var(--color-white);
}

.title {
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);

  &__text {
    font: 400 clamp(re-c(20), 2vw, re-c(24)) var(--font-yeseva);
  }
}

// header
.header {
  font-size: re-c(11);

  &__logo {
    text-transform: uppercase;
    color: var(--color-accent);
  }

  &__nav {
    text-transform: uppercase;
  }

  &__call {
    @include media-tablet {
      text-decoration: underline;
      color: var(--color-accent);
    }
  }

  &__cta {
    font-style: italic;
    line-height: 1;
    text-transform: uppercase;
    color: var(--color-white);
  }
}

// offer
.offer {
  &__title {
    font: 400 clamp(re-c(23), 5vw, re-c(40)) var(--font-yeseva);
    line-height: 133%;
    text-transform: uppercase;

    > span {
      color: var(--color-accent);
    }
  }

  &__subtitle {
    font: 400 clamp(re-c(14), 3vw, re-c(22)) var(--font-nunito);
  }

  &__button-cta,
  &__button-additional {
    font: italic 400 re-c(11) var(--font-nunito);
    text-transform: uppercase;
    color: var(--color-white);
  }
}

// projects
.projects {
  &__title {
    font: 400 clamp(re-c(22), 3vw, re-c(27)) / 139% var(--font-yeseva);
    text-align: center;
    text-transform: uppercase;
    color: var(--color-accent);
  }

  &__subtitle {
    font: 400 clamp(re-c(11), 3vw, re-c(14)) / 160% var(--font-nunito);
    text-align: center;

    @include media-desktop {
      font: 400 clamp(re-c(11), 3vw, re-c(14)) / 190% var(--font-nunito);
      text-align: initial;
    }
  }

  &__tab {
    @include media-tablet {
      font: 400 re-c(14) / 139% var(--font-yeseva);
      text-transform: uppercase;
      color: var(--color-gray);

      &--active {
        color: var(--color-accent);
      }
    }
  }

  &__info-title {
    font: 400 clamp(re-c(14), 3vw, re-c(18)) / 139% var(--font-yeseva);
    text-transform: uppercase;
    color: var(--color-accent);
  }

  &__info-data {
    font: 400 clamp(re-c(11), 3vw, re-c(13)) / 136% var(--font-nunito);
  }
}

.page-form {
  &__submit-button {
    font: 400 re-c(13) var(--font-nunito);
    text-transform: uppercase;
    color: var(--color-white);
  }
}

// online-control
.online-control {
  &__description {
    font: 400 clamp(re-c(11), 2vw, re-c(18)) / 170% var(--font-nunito);
    text-align: center;

    @include media-tablet {
      font: 400 clamp(re-c(11), 2vw, re-c(18)) / re-c(37) var(--font-nunito);
      color: var(--color-gray);
    }
  }

  &__form-checkbox-label {
    font: 400 re-c(14) var(--font-nunito);

    @include media-tablet {
      color: initial;
    }
  }

  &__form-submit-button {
    font: 400 re-c(13) var(--font-nunito);
    text-transform: uppercase;
    color: var(--color-white);
  }
}

// repair-types
.repair-types {
  font: 400 re-c(13) / re-c(22) var(--font-nunito);
  color: var(--color-gray);

  &__title {
    color: var(--color-black);
  }

  &__card-data-wrap {
    color: #959595;
  }

  &__card-title {
    font: 400 clamp(re-c(15), 2vw, re-c(18)) var(--font-yeseva);
    color: var(--color-gray);
  }

  &__card-list {
    @include media-tablet {
      line-height: re-c(27);
    }
  }

  &__btn-cta {
    font: 400 clamp(re-c(15), 2vw, re-c(18)) var(--font-yeseva);
    white-space: nowrap;
    text-transform: uppercase;
    color: var(--color-white);
  }

  @include media-tablet {
    font: 400 re-c(13) / re-c(26) var(--font-nunito);
  }
}
