// media breakpoints
$mediaTablet: 768px;
$mediaDesktop: 1300px;

:root {
  // colors
  --color-accent: #e3b873;
  --color-background-block: #131313;
  --color-white: #fff;

  // fonts
  --font-nunito: "NunitoSans", sans-serif;
  --font-yeseva: "YesevaOne", sans-serif;
}
